{% extends 'wymjarex/base.html' %}
{% block content %}
{% load staticfiles %}
<script>
    var dataWeight = [
        {% for post in posts %}
            {% if post.weight != None %}
            [Date.UTC(
                {{post.created_date.year}}, 
                ({{post.created_date.month}}-1), 
                {{post.created_date.day}}), 
                {{ post.weight }}
            ],
            {% endif %}
        {% endfor %}
    ]
    var dataBelt = [
        {% for post in posts %}
            {% if post.belt != None %}
                [Date.UTC(
                    {{post.created_date.year}}, 
                    ({{post.created_date.month}}-1), 
                    {{post.created_date.day}}), 
                    {{ post.belt }}
                ],
            {% endif %}
        {% endfor %}
    ]
    var dataWaist = [
        {% for post in posts %}
            {% if post.waist != None %}
                [Date.UTC(
                    {{post.created_date.year }},
                    ({{post.created_date.month}}-1), 
                    {{post.created_date.day}}), 
                    {{ post.waist }}
                ],
            {% endif %}
        {% endfor %}
    ]

</script>
<script src="{% static '/js/jquery-3.0.0.min.js' %}"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="{% static '/js/graph.js' %}"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div class = "container">
    <br>
    <br>
    <h2>Wybierz widok:</h2>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a href="/last/7" role="button">
                <button type="button" class="btn btn-primary">7 dni</button>
            </a>
        </div>
        <div class="btn-group" role="group">
            <a href="/last/14" role="button">
                <button type="button" class="btn btn-primary">14 dni</button>
            </a>
        </div>
        <div class="btn-group" role="group">
            <a href="/last/30" role="button">
                <button type="button" class="btn btn-primary">30 dni</button>
            </a>
        </div>
        <div class="btn-group" role="group">
            <a href="/" role="button"><button type="button" class="btn btn-primary">Wszystkie</button></a>
        </div>
    </div>

        <h2>Wymiary:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Waga</th>
                    <th>Pas</th>
                    <th>Talia</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td><a href=" /post/{{post.id}}/edit/">{{post.created_date }}</a></td>
                    <td>{{post.weight }}</td>
                    <td>{{post.belt }}</td>
                    <td>{{post.waist }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!--
                {% for post in posts %}
                    <a href=" /post/{{post.id}}/edit/">{{post.created_date }}
                      {{post.waist}}</a>  <br>
                {% endfor %}
-->
    </div>
{% endblock content %}